In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SF-DS/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1693,tt0952640,60000000,361366633,Alvin and the Chipmunks,Jason Lee|David Cross|Cameron Richardson|Jane ...,Tim Hill,Get your squeak on!,A struggling songwriter named Dave Seville fin...,92,Comedy|Music|Family|Fantasy|Animation,Dune Entertainment|Regency Enterprises|Fox 200...,12/13/2007,5.6,2007
1268,tt2132285,15000000,19145732,The Bling Ring,Emma Watson|Israel Broussard|Taissa Farmiga|Ka...,Sofia Coppola,"Living the Dream, One Heist at a Time","Inspired by actual events, a group of fame-obs...",90,Drama|Crime,PathÃ© Distribution|A24,6/12/2013,5.3,2013
1550,tt0452637,75000000,42285169,Lady in the Water,Paul Giamatti|Jeffrey Wright|Bob Balaban|Sarit...,M. Night Shyamalan,Time is running out for a happy ending.,Apartment building superintendent Cleveland He...,110,Drama|Thriller|Fantasy|Mystery,Legendary Pictures|Warner Bros.|Blinding Edge ...,7/21/2006,5.2,2006
1706,tt0463854,15000000,64238440,28 Weeks Later,Imogen Poots|Robert Carlyle|Rose Byrne|Jeremy ...,Juan Carlos Fresnadillo,When days turn to weeks... the horror returns.,"In this chilling sequel to 28 Days Later, the ...",100,Horror|Thriller|Science Fiction,DNA Films|Figment Films|Sociedad General de Ci...,4/26/2007,6.3,2007
1649,tt0356618,42000000,117575636,The Forgotten,Julianne Moore|Anthony Edwards|Jessica Hecht|C...,Joseph Ruben,You'll Never Forget The Ones You Love,Telly Paretta is a grieving mother struggling ...,91,Crime|Drama|Horror|Mystery|Science Fiction,Revolution Studios|Jinks/Cohen Company|Visual ...,9/24/2004,5.4,2004

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = ''
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()].original_title
answers['1']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data[data.runtime == data.runtime.max()].original_title
answers['2']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = data[data.runtime == data.runtime.min()].original_title
answers['3']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = round(data.runtime.mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = round(data.runtime.median())
answers['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
answers['6'] = data[data.profit == data['profit'].max()].original_title
answers['6']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [15]:
answers['7'] = data[data.profit == data['profit'].min()].original_title
answers['7']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
answers['8'] = data[data.profit > 0].count()[0]
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
answers['9'] = data[data[data.release_year == 2008].profit.max() == data.profit].original_title
answers['9']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
answers['10'] = data[data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min() == data.profit].original_title
answers['10']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [19]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [20]:
answers['11'] = data.genres.value_counts().index[0]
answers['11']

'Comedy'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [21]:
answers['12'] = data[data.profit > 0].genres.value_counts().index[0]
answers['12']

'Comedy'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [22]:
answers['13'] = data.groupby(['director']).revenue.max().sort_values(ascending=False).index[0]
answers['13']

'James Cameron'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
answers['14'] = data[data.genres == 'Action'].director.value_counts()
answers['14']

Rob Cohen                2
Christopher McQuarrie    1
Kevin Macdonald          1
Paul McGuigan            1
Ridley Scott             1
Andy Tennant             1
Renny Harlin             1
John Moore               1
Robert Rodriguez         1
Harald Zwart             1
Rob Bowman               1
Sydney Pollack           1
Andrew Davis             1
Joseph Kahn              1
Marcus Nispel            1
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
answers['15'] = data[data.release_year == 2012]
answers['15'] = ''.join(answers['15'][answers['15'].revenue == answers['15'].revenue.max()].cast.values)
answers['15']

'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
# data[data.budget > data.budget.mean()].groupby('cast').imdb_id.count().sort_values(ascending=False)
data16 = data[data.budget > data.budget.mean()]
print(data16[data16.cast.str.contains('Tom Cruise', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Mark Wahlberg', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Matt Damon', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Angelina Jolie', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Adam Sandler', regex=False)].count()[0])

15
14
18
16
17

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
data17 = data[data.cast.str.contains('Nicolas Cage', regex=False)]
print(data17[data17.genres.str.contains('Drama', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Action', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Thriller', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Adventure', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Crime', regex=False)].count()[0])

12
17
15
7
10

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
data18 = data[data.production_companies.str.contains('Paramount Pictures', regex=False)]
# data18['income'] = data18['revenue'] - data18['budget']
data18[data['profit'] == data18['profit'].min()]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
data.groupby('release_year').revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [52]:
data20 = data[data.production_companies.str.contains('Warner Bros', regex=False)]
data20.groupby('release_date').revenue.sum().sort_values(ascending=False)

release_date
7/7/2011      1327817822
7/16/2012     1081041287
7/16/2008     1001921825
11/16/2001     976475550
10/17/2010     954305868
                 ...
1/30/2004        6808550
12/8/2006        5914908
7/19/2000        5217498
4/21/2000        5108820
3/13/2014        3485127
Name: revenue, Length: 181, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [66]:
data['month'] = data['release_date'].str[0:2]
# data.month
data.groupby('month').original_title.count().sort_values(ascending=False)

month
9/    227
12    190
10    186
8/    161
3/    156
4/    149
6/    147
11    146
7/    142
5/    140
2/    135
1/    110
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [67]:
data[(data['month'] == '6/') | (data['month'] == '7/') | (data['month'] == '8/')].count()[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [71]:
data[(data['month'] == '1/') | (data['month'] == '2/') | (data['month'] == '12')].groupby('director').original_title.count().sort_values(ascending=False)

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Adam Shankman        4
Martin Scorsese      4
                    ..
GÃ¡bor CsupÃ³        1
Guy Ritchie          1
Guy Ferland          1
Gus Van Sant         1
Will Gluck           1
Name: original_title, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [77]:
data['len'] = data.original_title.str.len()
data.iloc[data.original_title.str.len().sort_values(ascending=False)]
# .groupby('director').original_title.count()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len
83,tt0884732,23000000,79799880,The Wedding Ringer,Kevin Hart|Josh Gad|Kaley Cuoco|Affion Crocket...,Jeremy Garelick,He's the best man... money can buy.,Doug Harris is a loveable but socially awkward...,101,Comedy,Miramax Films|Screen Gems|LStar Capital,1/16/2015,6.5,2015,56799880,1/,18
62,tt2057392,13000000,32848185,Eye in the Sky,Helen Mirren|Aaron Paul|Alan Rickman|Iain Glen...,Gavin Hood,Welcome to the new front line,A military officer in command of a drone opera...,102,Drama|Thriller|War,Entertainment One|Moonlighting Films|Raindog F...,9/11/2015,7.2,2015,19848185,9/,14
59,tt1390411,100000000,93820758,In the Heart of the Sea,Chris Hemsworth|Benjamin Walker|Cillian Murphy...,Ron Howard,Based on the incredible true story that inspir...,"In the winter of 1820, the New England whaling...",122,Thriller|Drama|Adventure|Action|History,Imagine Entertainment|Spring Creek Productions...,11/20/2015,6.4,2015,-6179242,11,23
58,tt2679042,35000000,82347656,Hitman: Agent 47,Rupert Friend|Zachary Quinto|Hannah Ware|Emili...,Aleksander Bach,Your Number is Up.,An assassin teams up with a woman to help her ...,96,Action|Crime|Thriller,Twentieth Century Fox Film Corporation|Fox Int...,8/20/2015,5.5,2015,47347656,8/,16
56,tt3079380,65000000,235666219,Spy,Melissa McCarthy|Jason Statham|Rose Byrne|Mira...,Paul Feig,One of the guys. One of the Spies.,A desk-bound CIA analyst volunteers to go unde...,120,Action|Comedy|Crime,Twentieth Century Fox Film Corporation|Chernin...,5/6/2015,6.9,2015,170666219,5/,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3/,9
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3/,9
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3/,9
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201,3/,9
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354,5/,18

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...', '2': '...'}

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)