In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SF-DS/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1179,tt1981115,170000000,479765000,Thor: The Dark World,Chris Hemsworth|Natalie Portman|Tom Hiddleston...,Alan Taylor,Delve into the darkness,Thor fights to restore order across the cosmos...,112,Action|Adventure|Fantasy,Marvel Studios,10/29/2013,6.8,2013
1876,tt0144964,25000000,15843608,Highlander: Endgame,Christopher Lambert|Bruce Payne|Adrian Paul|Do...,Douglas Aarniokoski,It will take two immortals to defeat the ultim...,Immortals Connor and Duncan Macleod join force...,87,Action|Fantasy|Science Fiction,Davis-Panzer Productions|Dimension Films,9/1/2000,4.3,2000
195,tt1823664,65000000,133821816,Annie,QuvenzhanÃ© Wallis|Jamie Foxx|Rose Byrne|Camer...,Will Gluck,It's a Hard Knock Life,"Ever since her parents left her as a baby, lit...",119,Music|Comedy|Drama|Family,Columbia Pictures|Sony Pictures Entertainment ...,12/19/2014,6.1,2014
720,tt0458339,140000000,370569774,Captain America: The First Avenger,Chris Evans|Hugo Weaving|Tommy Lee Jones|Hayle...,Joe Johnston,When patriots become heroes,"Predominantly set during World War II, Steve R...",124,Action|Adventure|Science Fiction,Marvel Studios,7/22/2011,6.5,2011
877,tt0133240,140000000,109578115,Treasure Planet,Joseph Gordon-Levitt|David Hyde Pierce|Emma Th...,Ron Clements|John Musker,Find your place in the universe.,When space galleon cabin boy Jim Hawkins disco...,95,Adventure|Animation|Family|Fantasy|Science Fic...,Walt Disney Pictures|Walt Disney Feature Anima...,11/26/2002,7.0,2002

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = ''
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()].original_title
answers['1']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data[data.runtime == data.runtime.max()].original_title
answers['2']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = data[data.runtime == data.runtime.min()].original_title
answers['3']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = round(data.runtime.mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = round(data.runtime.median())
answers['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
answers['6'] = data[data.profit == data['profit'].max()].original_title
answers['6']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = data[data.profit == data['profit'].min()].original_title
answers['7']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = data[data.profit > 0].count()[0]
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = data[data[data.release_year == 2008].profit.max() == data.profit].original_title
answers['9']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = data[data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min() == data.profit].original_title
answers['10']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [19]:
answers['11'] = data.genres.value_counts().index[0]
answers['11']

'Comedy'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = data[data.profit > 0].genres.value_counts().index[0]
answers['12']

'Comedy'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
answers['13'] = data.groupby(['director']).revenue.max().sort_values(ascending=False).index[0]
answers['13']

'James Cameron'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = data[data.genres == 'Action'].director.value_counts()
answers['14']

Rob Cohen                2
Christopher McQuarrie    1
Kevin Macdonald          1
Paul McGuigan            1
Ridley Scott             1
Andy Tennant             1
Renny Harlin             1
John Moore               1
Robert Rodriguez         1
Harald Zwart             1
Rob Bowman               1
Sydney Pollack           1
Andrew Davis             1
Joseph Kahn              1
Marcus Nispel            1
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
answers['15'] = data[data.release_year == 2012]
answers['15'] = ''.join(answers['15'][answers['15'].revenue == answers['15'].revenue.max()].cast.values)
answers['15']

'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
# data[data.budget > data.budget.mean()].groupby('cast').imdb_id.count().sort_values(ascending=False)
data16 = data[data.budget > data.budget.mean()]
print(data16[data16.cast.str.contains('Tom Cruise', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Mark Wahlberg', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Matt Damon', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Angelina Jolie', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Adam Sandler', regex=False)].count()[0])
answers['16'] = 'Adam Sandler'

15
14
18
16
17

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
data17 = data[data.cast.str.contains('Nicolas Cage', regex=False)]
print(data17[data17.genres.str.contains('Drama', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Action', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Thriller', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Adventure', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Crime', regex=False)].count()[0])
answers['17'] = 'Action'

12
17
15
7
10

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
data18 = data[data.production_companies.str.contains('Paramount Pictures', regex=False)]
# data18['income'] = data18['revenue'] - data18['budget']
answers['18'] = data18[data['profit'] == data18['profit'].min()].original_title
answers['18']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
data20 = data[data.production_companies.str.contains('Warner Bros', regex=False)]
answers['20'] = data20.groupby('release_date').revenue.sum().sort_values(ascending=False).index[0][-4:]
answers['20']

'2011'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
data['month'] = data['release_date'].str[0:2]
# data.month
answers['21'] = data.groupby('month').original_title.count().sort_values(ascending=False).index[0][0:1]
answers['21']

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = data[(data['month'] == '6/') | (data['month'] == '7/') | (data['month'] == '8/')].count()[0]
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] = data[(data['month'] == '1/') | (data['month'] == '2/') | (data['month'] == '12')].groupby('director').original_title.count().sort_values(ascending=False).index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
data['len'] = data.original_title.str.len()
# data.iloc[data.original_title.str.len().sort_values(ascending=False)]
# .groupby('director').original_title.count()
answers['24'] = data[data.len == data.len.max()].production_companies
answers['24']

1448    Twentieth Century Fox Film Corporation|Four By...
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [49]:
# data.overview.str.len()
data['len_o'] = data.overview.str.len()
answers['25'] = data.groupby('production_companies').len_o.mean().sort_values(ascending=False)[0:1]
answers['25']

production_companies
Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show    1000.0
Name: len_o, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [50]:
# data[data == data.vote_average.sort_values(ascending=False)]
data26 = data.sort_values(by=['vote_average'], ascending=False)
# data.vote_average.describe()
# data[data.vote_average > 8]
answers['26'] = data26.original_title.head(10)
answers['26']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [51]:
print(data[data.cast.str.contains('Johnny Depp', regex=False) & data.cast.str.contains('Helena Bonham Carter', regex=False)].cast.count())
print(data[data.cast.str.contains('Ben Stiller', regex=False) & data.cast.str.contains('Owen Wilson', regex=False)].cast.count())
print(data[data.cast.str.contains('Vin Diesel', regex=False) & data.cast.str.contains('Paul Walker', regex=False)].cast.count())
print(data[data.cast.str.contains('Adam Sandler', regex=False) & data.cast.str.contains('Kevin James', regex=False)].cast.count())
print(data[data.cast.str.contains('Daniel Radcliffe', regex=False) & data.cast.str.contains('Rupert Grint', regex=False)].cast.count())
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

6
6
5
5
8

# Submission

In [52]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Comedy', '12': 'Comedy', '13': 'James Cameron', '14': Rob Cohen                2
 Christopher McQuarrie    1
 Kevin Macdonald          1
 Paul McGuigan            1
 Ridley Scott             1
 Andy Tennant             1
 Renny Harlin             1
 John Moore               1
 Robert Rodriguez         1
 Harald Zwart             1
 Rob Bowman               1
 Sydney Pollack           1
 Andrew Davis             1
 Joseph Kahn              1
 Marcus Nispel            1
 Name: director, dtype: int64, '15': 'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson', '16': 'Adam Sandler', '17': 'Action', '18': 925    K-19: The Widowmaker
 Name: original_title, dtype: object, '19': 2015, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '20': '2011', '21': '9', '22': 450, '23': 'Peter Jackson', '24': 1448    Twentieth Century Fox Film Corporation|Four By...
 Name: production_companies, dtype: object, '25': production_companies
 Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show    1000.0
 Name: len_o, dtype: float64, '26': 599                                   The Dark Knight
 118                                      Interstellar
 125                                The Imitation Game
 9                                          Inside Out
 34                                               Room
 1183                          The Wolf of Wall Street
 128                                         Gone Girl
 1191                                 12 Years a Slave
 119                           Guardians of the Galaxy
 1081    The Lord of the Rings: The Return of the King
 Name: original_title, dtype: object, '27': 'Daniel Radcliffe & Rupert Grint', '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 110, '5': 107, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object}

In [53]:
# и убедиться что ни чего не пропустил)
len(answers)

27