In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SF-DS/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1802,tt0162222,90000000,429632142,Cast Away,Tom Hanks|Helen Hunt|Chris Noth|Paul Sanchez|L...,Robert Zemeckis,"At the edge of the world, his journey begins.","Chuck, a top international manager for FedEx, ...",143,Adventure|Drama,DreamWorks SKG|Twentieth Century Fox Film Corp...,12/22/2000,7.3,2000
1501,tt0463034,54000000,130431368,"You, Me and Dupree",Kate Hudson|Owen Wilson|Matt Dillon|Michael Do...,Anthony Russo|Joe Russo,Two's company. Dupree's a crowd.,After standing in as best man for his longtime...,108,Comedy|Romance,Universal Pictures|Kaplan/Perrone Entertainmen...,7/14/2006,5.3,2006
1295,tt1413495,35000000,13785015,Paranoia,Liam Hemsworth|Harrison Ford|Gary Oldman|Amber...,Robert Luketic,In a war between kings even a pawn can change ...,An entry-level employee at a powerful corporat...,106,Drama|Thriller,Gaumont|Kintop Pictures|Reliance Entertainment...,8/14/2013,5.6,2013
1794,tt0367959,50000000,82169884,Hannibal Rising,Gaspard Ulliel|Aaran Thomas|Gong Li|Dominic We...,Peter Webber,It started with revenge.,"The story of the early, murderous roots of the...",121,Crime|Drama|Thriller,Ingenious Film Partners|ETIC Films|Quinta Comm...,2/6/2007,6.0,2007
866,tt0258463,60000000,214034224,The Bourne Identity,Matt Damon|Franka Potente|Chris Cooper|Clive O...,Doug Liman,He was the perfect weapon until he became the ...,Wounded to the brink of death and suffering fr...,119,Action|Drama|Mystery|Thriller,"Universal Pictures|Kennedy/Marshall Company, T...",6/14/2002,7.1,2002

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = ''
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()].original_title
answers['1']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = data[data.runtime == data.runtime.max()].original_title
answers['2']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = data[data.runtime == data.runtime.min()].original_title
answers['3']

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = round(data.runtime.mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = round(data.runtime.median())
answers['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue'] - data['budget']
answers['6'] = data[data.profit == data['profit'].max()].original_title
answers['6']

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [15]:
answers['7'] = data[data.profit == data['profit'].min()].original_title
answers['7']

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
answers['8'] = data[data.profit > 0].count()[0]
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
answers['9'] = data[data[data.release_year == 2008].profit.max() == data.profit].original_title
answers['9']

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
answers['10'] = data[data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min() == data.profit].original_title
answers['10']

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [19]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [20]:
answers['11'] = data.genres.value_counts().index[0]
answers['11']

'Comedy'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [21]:
answers['12'] = data[data.profit > 0].genres.value_counts().index[0]
answers['12']

'Comedy'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [22]:
answers['13'] = data.groupby(['director']).revenue.max().sort_values(ascending=False).index[0]
answers['13']

'James Cameron'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
answers['14'] = data[data.genres == 'Action'].director.value_counts()
answers['14']

Rob Cohen                2
Christopher McQuarrie    1
Kevin Macdonald          1
Paul McGuigan            1
Ridley Scott             1
Andy Tennant             1
Renny Harlin             1
John Moore               1
Robert Rodriguez         1
Harald Zwart             1
Rob Bowman               1
Sydney Pollack           1
Andrew Davis             1
Joseph Kahn              1
Marcus Nispel            1
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
answers['15'] = data[data.release_year == 2012]
answers['15'] = ''.join(answers['15'][answers['15'].revenue == answers['15'].revenue.max()].cast.values)
answers['15']

'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [61]:
# data[data.budget > data.budget.mean()].groupby('cast').imdb_id.count().sort_values(ascending=False)
data16 = data[data.budget > data.budget.mean()]
print(data16[data16.cast.str.contains('Tom Cruise', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Mark Wahlberg', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Matt Damon', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Angelina Jolie', regex=False)].count()[0])
print(data16[data16.cast.str.contains('Adam Sandler', regex=False)].count()[0])
answers['16'] = 'Adam Sandler'

15
14
18
16
17

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
data17 = data[data.cast.str.contains('Nicolas Cage', regex=False)]
print(data17[data17.genres.str.contains('Drama', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Action', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Thriller', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Adventure', regex=False)].count()[0])
print(data17[data17.genres.str.contains('Crime', regex=False)].count()[0])
answers['17'] = 'Action'

12
17
15
7
10

# 18. Самый убыточный фильм от Paramount Pictures

In [86]:
data18 = data[data.production_companies.str.contains('Paramount Pictures', regex=False)]
# data18['income'] = data18['revenue'] - data18['budget']
answers['18'] = data18[data['profit'] == data18['profit'].min()].original_title
answers['18']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [70]:
answers['19'] = data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [73]:
data20 = data[data.production_companies.str.contains('Warner Bros', regex=False)]
answers['20'] = data20.groupby('release_date').revenue.sum().sort_values(ascending=False).index[0][-4:]
answers['20']

'2011'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [76]:
data['month'] = data['release_date'].str[0:2]
# data.month
answers['21'] = data.groupby('month').original_title.count().sort_values(ascending=False).index[0][0:1]
answers['21']

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [78]:
answers['22'] = data[(data['month'] == '6/') | (data['month'] == '7/') | (data['month'] == '8/')].count()[0]
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [80]:
answers['23'] = data[(data['month'] == '1/') | (data['month'] == '2/') | (data['month'] == '12')].groupby('director').original_title.count().sort_values(ascending=False).index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [81]:
data['len'] = data.original_title.str.len()
# data.iloc[data.original_title.str.len().sort_values(ascending=False)]
# .groupby('director').original_title.count()
answers['24'] = data[data.len == data.len.max()].production_companies
answers['24']

1448    Twentieth Century Fox Film Corporation|Four By...
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [82]:
answers['25'] = data.groupby('production_companies').len.mean().sort_values(ascending=False)
answers['25']

production_companies
Twentieth Century Fox Film Corporation|Four By Two Productions                                                          83.0
Walt Disney|Walden Media                                                                                                62.0
Walt Disney Pictures|21 Laps Entertainment|Jim Henson Company, The                                                      59.0
Plan B Entertainment|Virtual Studios|Scott Free Productions|Alberta Film Entertainment|Warner Bros.                     58.0
Dune Entertainment|Fox 2000 Pictures|Walden Media                                                                       56.0
                                                                                                                        ...
FilmNation Entertainment|Everest Entertainment                                                                           3.0
Ixtlan Productions|Emperor Motion Pictures|Global Entertainment Group                                                    2.0
Columbia Pictures|Relativity Media                                                                                       2.0
Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|XM2 Productions     2.0
Focus Films|Starz Animation|Relativity Media|Tim Burton Productions|Arc Productions                                      1.0
Name: len, Length: 1624, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [83]:
# data[data == data.vote_average.sort_values(ascending=False)]
data26 = data.sort_values(by=['vote_average'], ascending=False)
# data.vote_average.describe()
# data[data.vote_average > 8]
answers['26'] = data26.original_title.head(10)
answers['26']

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [89]:
data['cast']

0       Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
1       Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...
2       Shailene Woodley|Theo James|Kate Winslet|Ansel...
3       Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...
4       Vin Diesel|Paul Walker|Jason Statham|Michelle ...
                              ...
1884    Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...
1885    Richard E. Grant|Jonathan Lipnicki|Jim Carter|...
1886    Rene Russo|Jason Alexander|Piper Perabo|Randy ...
1887    Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...
1888    Susan Ward|Lori Heuring|Matthew Settle|Nathan ...
Name: cast, Length: 1889, dtype: object

# Submission

In [84]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 723    Pirates of the Caribbean: On Stranger Tides
 Name: original_title, dtype: object, '10': 1245    The Lone Ranger
 Name: original_title, dtype: object, '11': 'Comedy', '12': 'Comedy', '13': 'James Cameron', '14': Rob Cohen                2
 Christopher McQuarrie    1
 Kevin Macdonald          1
 Paul McGuigan            1
 Ridley Scott             1
 Andy Tennant             1
 Renny Harlin             1
 John Moore               1
 Robert Rodriguez         1
 Harald Zwart             1
 Rob Bowman               1
 Sydney Pollack           1
 Andrew Davis             1
 Joseph Kahn              1
 Marcus Nispel            1
 Name: director, dtype: int64, '15': 'Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chris Hemsworth|Scarlett Johansson', '16': 'Adam Sandler', '17': 925    K-19: The Widowmaker
 Name: original_title, dtype: object, '19': 2015, '2': 1157    Gods and Generals
 Name: original_title, dtype: object, '20': '2011', '21': '9', '22': 450, '23': 'Peter Jackson', '24': 1448    Twentieth Century Fox Film Corporation|Four By...
 Name: production_companies, dtype: object, '25': production_companies
 Twentieth Century Fox Film Corporation|Four By Two Productions                                                          83.0
 Walt Disney|Walden Media                                                                                                62.0
 Walt Disney Pictures|21 Laps Entertainment|Jim Henson Company, The                                                      59.0
 Plan B Entertainment|Virtual Studios|Scott Free Productions|Alberta Film Entertainment|Warner Bros.                     58.0
 Dune Entertainment|Fox 2000 Pictures|Walden Media                                                                       56.0
                                                                                                                         ...
 FilmNation Entertainment|Everest Entertainment                                                                           3.0
 Ixtlan Productions|Emperor Motion Pictures|Global Entertainment Group                                                    2.0
 Columbia Pictures|Relativity Media                                                                                       2.0
 Twentieth Century Fox Film Corporation|Donners' Company|Bad Hat Harry Productions|Marvel Enterprises|XM2 Productions     2.0
 Focus Films|Starz Animation|Relativity Media|Tim Burton Productions|Arc Productions                                      1.0
 Name: len, Length: 1624, dtype: float64, '26': 599                                   The Dark Knight
 118                                      Interstellar
 125                                The Imitation Game
 9                                          Inside Out
 34                                               Room
 1183                          The Wolf of Wall Street
 128                                         Gone Girl
 1191                                 12 Years a Slave
 119                           Guardians of the Galaxy
 1081    The Lord of the Rings: The Return of the King
 Name: original_title, dtype: object, '3': 768    Winnie the Pooh
 Name: original_title, dtype: object, '4': 110, '5': 107, '6': 239    Avatar
 Name: original_title, dtype: object, '7': 1245    The Lone Ranger
 Name: original_title, dtype: object, '8': 1478, '9': 599    The Dark Knight
 Name: original_title, dtype: object}

In [87]:
# и убедиться что ни чего не пропустил)
len(answers)

26