In [1]:
import pandas as pd
import math
log = pd.read_csv('log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log.time.isna().sum()

FileNotFoundError: ignored

In [19]:
log.drop_duplicates(subset=['user_id', 'time']) 
log

                              user_id                  time       bet      win
0    Запись пользователя № - user_973  [2019-01-01 14:51:16       NaN      NaN
1    Запись пользователя № - user_903  [2019-01-01 16:31:16       NaN      NaN
2    Запись пользователя № - user_954  [2019-01-01 17:17:51       NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 21:31:18       NaN      NaN
4    Запись пользователя № - user_917  [2019-01-01 23:34:55  156789.0      NaN
..                                ...                   ...       ...      ...
994  Запись пользователя № - user_984   [2019-04-20 9:59:58    9754.0      NaN
995                            #error                   NaN   10054.0  29265.0
996                            #error                   NaN   10454.0      NaN
997                            #error                   NaN    1000.0      NaN
998                            #error                   NaN   10754.0      NaN

[999 rows x 4 columns]

In [14]:
log.dropna(axis=1, inplace=True)
log

                              user_id
0    Запись пользователя № - user_973
1    Запись пользователя № - user_903
2    Запись пользователя № - user_954
3    Запись пользователя № - user_954
4    Запись пользователя № - user_917
..                                ...
994  Запись пользователя № - user_984
995                            #error
996                            #error
997                            #error
998                            #error

[999 rows x 1 columns]

In [27]:
log.dropna(subset=['time'], axis=0, inplace=True)
log

                              user_id                  time       bet     win
0    Запись пользователя № - user_973  [2019-01-01 14:51:16       NaN     NaN
1    Запись пользователя № - user_903  [2019-01-01 16:31:16       NaN     NaN
2    Запись пользователя № - user_954  [2019-01-01 17:17:51       NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 21:31:18       NaN     NaN
4    Запись пользователя № - user_917  [2019-01-01 23:34:55  156789.0     NaN
..                                ...                   ...       ...     ...
990  Запись пользователя № - user_965  [2019-04-20 12:55:41     800.0  6927.0
991  Запись пользователя № - user_967  [2019-04-20 14:59:36   10154.0     NaN
992  Запись пользователя № - user_973  [2019-04-20 17:09:56   10254.0     NaN
993  Запись пользователя № - user_977  [2019-04-20 18:10:07   10354.0     NaN
994  Запись пользователя № - user_984   [2019-04-20 9:59:58    9754.0     NaN

[984 rows x 4 columns]

In [29]:
log['time'] = log['time'].apply(lambda x: x[1:])  
log['time'] = pd.to_datetime(log['time'])

In [38]:
log.time.dt.minute.value_counts()

36    7
57    5
18    5
44    5
55    4
48    4
2     4
25    4
35    4
40    4
34    4
8     4
1     4
43    3
0     3
38    3
11    3
16    3
6     3
15    3
31    3
23    3
9     2
45    2
54    2
29    2
58    2
26    2
42    2
20    2
33    2
5     2
50    2
52    2
10    2
49    2
12    2
46    2
17    2
39    1
47    1
27    1
19    1
4     1
13    1
22    1
53    1
21    1
59    1
24    1
3     1
37    1
14    1
Name: time, dtype: int64

In [39]:
log.time.dt.month.value_counts()

3    57
4    51
2    16
1     9
Name: time, dtype: int64

In [ ]:
log.time.dt.dayofweek

In [30]:
log.time.max()

Timestamp('2019-04-20 12:55:41')

In [31]:
log.time.apply(lambda x: x.minute)

13     57
28     59
150    54
188    34
204    26
       ..
966    25
970    35
971    35
975    35
990    55
Name: time, Length: 133, dtype: int64

In [30]:
log[(log.time.dt.dayofweek==6) | (log.time.dt.dayofweek==5) ].time.count()

283

In [41]:
log.time.apply( lambda x: 'n' if ((x.hour >= 0) & (x.hour <= 5)) else 'm' if ((x.hour >= 6) & (x.hour <= 11)) else 'd' if ((x.hour >= 12) & (x.hour <= 17)) else 'e' ).value_counts()

n    265
m    253
d    239
e    227
Name: time, dtype: int64

In [46]:
log = pd.read_csv('log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log.dropna(axis=0, inplace=True)
log['time'] = log['time'].apply(lambda x: x[1:])
log['time'] = pd.to_datetime(log['time'])
log['hour'] = log.time.dt.hour

In [70]:
log = pd.read_csv('log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
log['bet'].fillna(0, inplace=True)
log.bet.value_counts()

0.0          514
500.0         50
100.0         48
800.0         42
300.0         42
200.0         40
400.0         40
700.0         38
1000.0        37
600.0         37
900.0         30
10554.0       10
9754.0        10
10154.0        7
10254.0        7
9954.0         6
10454.0        6
10754.0        5
10654.0        5
10054.0        4
10354.0        4
9854.0         2
8734.0         1
12945.0        1
27000.0        1
12548.0        1
9876.0         1
156789.0       1
950.0          1
8700.0         1
7650.0         1
123981.0       1
5000.0         1
1678321.0      1
98753.0        1
145732.0       1
104540.0       1
Name: bet, dtype: int64

In [29]:
log = pd.read_csv('log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
def fillna_win(row):  
    ret = row
    if (pd.isnull(row.win)) & (pd.isnull(row.bet)):
      ret.win = 0
    elif ((pd.isnull(row.win)) & (not pd.isnull(row.bet))):
      ret.win = -ret.bet
    return ret
  
# Применяем функцию  
log = log.apply(lambda x: fillna_win(x), axis=1)  
  
# Заменяем старый столбец с пропусками на новый без пропусков  
# log['win'] = new_win
log[log['win'] < 0]
# log.iloc[4]
# if (pd.isnull(log.iloc[4].win)) & (not pd.isnull(log.iloc[4].bet)):
#   print(1)
# log

,user_id,time,bet,win
4,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,-156789.0
18,Запись пользователя № - user_942,[2019-01-03 14:03:21,98753.0,-98753.0
66,Запись пользователя № - user_987,[2019-01-07 21:46:13,5000.0,-5000.0
80,Запись пользователя № - user_910,[2019-01-08 21:14:57,123981.0,-123981.0
91,Запись пользователя № - user_964,[2019-01-09 3:05:33,100.0,-100.0
...,...,...,...,...
993,Запись пользователя № - user_977,[2019-04-20 18:10:07,10354.0,-10354.0
994,Запись пользователя № - user_984,[2019-04-20 9:59:58,9754.0,-9754.0
996,#error,NaN,10454.0,-10454.0
997,#error,NaN,1000.0,-1000.0
998,#error,NaN,10754.0,-10754.0

In [30]:
# log = pd.read_csv('log.csv')
# log.columns = ['user_id', 'time', 'bet', 'win']
def fillna_net(row):  
    if (row.win < 0):
      ret = row.win
    else: 
      ret = row.win - row.bet
    return ret
log['net'] = log.apply(lambda x: fillna_net(x), axis=1)  
# log[log.net > 0]
log.groupby('user_id').net.sum().median()
log[log.bet == 0].groupby('user_id').bet.count() / log.groupby('user_id').bet.count()

user_id
#error                              NaN
Запись пользователя № - user_1000   NaN
Запись пользователя № - user_900    NaN
Запись пользователя № - user_901    NaN
Запись пользователя № - user_902    NaN
                                     ..
Запись пользователя № - user_995    NaN
Запись пользователя № - user_996    NaN
Запись пользователя № - user_997    NaN
Запись пользователя № - user_998    NaN
Запись пользователя № - user_999    NaN
Name: bet, Length: 102, dtype: float64

In [20]:
log.net[log.net > 0].mean()

80253.33333333333

In [21]:
log.net[log.net > 0].median()

5347.0

In [25]:
log.fillna(0, inplace=True)
log.net[log.net > 0].count() / log.net.count()

0.13813813813813813

In [28]:
log.net[log.net < 0].mean()

-3372.743515850144

In [2]:
# log = pd.read_csv('log.csv')
# log.columns = ['user_id', 'time', 'bet', 'win']
min_bet_amount = log.bet[log.bet==log.bet.min()].count()

In [31]:
us = pd.read_csv('users.csv', sep='\t', encoding='koi8-r')
us.columns = ['user_id', 'email', 'geo']

# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1]) 
df = pd.merge(log, us, on='user_id')   
df

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,user_id,time,bet,win,net,email,geo
0,user_973,[2019-01-01 14:51:16,NaN,0.0,NaN,Antecia@inbox.ru,Пермь
1,user_973,[2019-01-15 17:04:00,NaN,0.0,NaN,Antecia@inbox.ru,Пермь
2,user_973,[2019-01-21 0:29:43,NaN,0.0,NaN,Antecia@inbox.ru,Пермь
3,user_973,[2019-01-26 0:23:22,NaN,0.0,NaN,Antecia@inbox.ru,Пермь
4,user_973,[2019-01-28 22:46:50,NaN,0.0,NaN,Antecia@inbox.ru,Пермь
...,...,...,...,...,...,...,...
969,user_932,[2019-02-24 22:40:06,NaN,0.0,NaN,BraceWalker@bk.ru,Красноярск
970,user_932,[2019-03-15 10:56:14,NaN,0.0,NaN,BraceWalker@bk.ru,Красноярск
971,user_932,[2019-03-18 10:13:24,NaN,0.0,NaN,BraceWalker@bk.ru,Красноярск
972,user_932,[2019-03-27 12:18:24,NaN,0.0,NaN,BraceWalker@bk.ru,Красноярск
973,user_932,[2019-04-18 14:55:26,700.0,6640.0,5940.0,BraceWalker@bk.ru,Красноярск

In [40]:
df.groupby('geo').win.sum().sort_values()
# df.geo.fillna(0, inplace=True)
# df.geo.isnull().any()

geo
Тюмень                 -499.0
Ставрополь              487.0
Краснодар              3248.0
Пермь                 19518.0
Арзангелтск           25813.0
Красноярск            27397.0
Екатеринбург          28582.0
Хабаровск             33451.0
Ижевск                34479.0
0                     41561.0
Ярославль             46845.0
Казань                75352.0
Санкт-Петербург      105345.0
Воронеж              107514.0
Москва             11379755.0
Name: win, dtype: float64

In [42]:
df.groupby('geo').bet.mean().max() / df.groupby('geo').bet.mean().min()

127.81602335164835

In [44]:
log = pd.read_csv('log.csv')
log.columns = ['user_id', 'time', 'bet', 'win']
us = pd.read_csv('users.csv', sep='\t', encoding='koi8-r')
us.columns = ['user_id', 'email', 'geo']
us.user_id = us.user_id.apply(lambda x: x.lower())  
# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1]) 
df = pd.merge(log, us, on='user_id') 
sample2 = df.groupby('geo').user_id.count().sort_values()
sample2

geo
Тюмень              32
Ставрополь          36
Екатеринбург        49
Пермь               55
Красноярск          56
Хабаровск           59
Ижевск              61
Москва              61
Казань              66
Краснодар           86
Воронеж             88
Ярославль           89
Арзангелтск         96
Санкт-Петербург    115
Name: user_id, dtype: int64